<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center"> 
        <h2>{{image.title}}</h2>
        <button class="btn btn-danger" id="btn-delete" data-id="{{image.uniqueId}}">
            <i class="fa fa-times"></i> Delete
        </button>      
    </div>
    <div class="card-body">
        <p>{{image.description}}</p>
        <div class="text-center">
            <img src="/public/upload/{{image.fileName}}" alt="" class="img-fluid">
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <button class="btn btn-success" id="btn-like" data-id="{{image.fileName}}">
            <i class="fas fa-thumbs-up"></i> Like
        </button>
        <p>
            <span class="likes-count">{{image.likes}}</span>
            <i class="fas fa-heart" style="color: red;"></i>
        </p>
        <p>
            {{image.views}} <i class="fas fa-eye"></i>
        </p>
        <p>
            <i class="far fa-clock"></i> {{timeAgo image.timestamp}} 
        </p>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Comments</h3>
        <button class="btn btn-info" id="btn-toggle-comment">
            <i class="fa fa-comment-o"></i> Post a comment
        </button>
    </div>
    <div class="card-body">
        <blockquote id="post-comment">
            <form action="/images/{{image.uniqueId}}/comment" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea name="comment" rows="2" class="form-control" placeholder="Add your comment here"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="btn-comment">
                        <i class="fa fa-comment"></i> Post
                    </button>
                </div>
            </form>
        </blockquote>
        <ul class="list-group p-4">
            {{#each comments}}
                <li class="list-group-item">
                    <div class="row">
                        <a href="" class="col-md-2 text-left">
                            <img src="http://gravatar.com/avatar/{{gravatar}}?d=robohash&s=45" alt="" class="border border-dark shadow-lg">
                        </a>
                        <blockquote class="col-md-10">
                            <p class="lead">{{comment}}</p>
                            <footer class="blockquote-footer">
                                {{name}} - {{timeAgo timestamp}}
                            </footer>
                        </blockquote>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>