<div class="card custom-card">
    <div class="card-header d-flex justify-content-between align-items-center custom-card-h text-white"> 
        <h2>{{image.title}}</h2>
        {{#if (equals image.user user.id)}}
        <button class="btn btn-danger" id="btn-delete" data-id="{{image.uniqueId}}">
            <i class="fa fa-times"></i> Delete
        </button>
        {{/if}}      
    </div>
    <div class="card-body text-white">
        <p>{{image.description}}</p>
        <div class="text-center">
            <img src="/public/upload/{{image.fileName}}" alt="" class="img-fluid custom-img">
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center text-white">
        <button class="btn btn-success" id="btn-like" data-id="{{image.fileName}}">
            <i class="fas fa-thumbs-up"></i> Like
        </button>
        <p>
            <span class="likes-count">{{image.likes}}</span>
            <i class="fas fa-heart" style="color: red;"></i>
        </p>
        <p>
            {{image.views}} <i class="fas fa-eye"></i>
        </p>
        <p>
            <i class="far fa-clock"></i> {{timeAgo image.timestamp}} 
        </p>
    </div>
</div>
<div class="card mt-4 custom-card">
    <div class="card-header d-flex justify-content-between align-items-center text-white custom-card-h">
        <h3>Comments</h3>
        <button class="btn btn-custom text-white" id="btn-toggle-comment">
            <i class="fa fa-comment-o"></i> Post a comment
        </button>
    </div>
    <div class="card-body">
        <blockquote id="post-comment">
            <form action="/images/{{image.uniqueId}}/comment" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea name="comment" rows="2" class="form-control custom-textarea" placeholder="Add your comment here"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="btn-comment">
                        <i class="fa fa-comment"></i> Post
                    </button>
                </div>
            </form>
        </blockquote>
        <div class="container-comment">
		    <div class="grid">
                <div class="list">
                    {{#each comments}}
                    <div class="item-block">
                        <span class="time text-white">{{timeAgo timestamp}}</span>
                        <div class="box-shadow item-avatar">
                            <div class="item-inner">
                                <div class="img-box">
                                    <img src="http://gravatar.com/avatar/{{gravatar}}?d=robohash&s=45">
                                </div>
                                <div class="name-box">
                                    <div class="style:left">
                                        <span class="db name">{{toUpper name}}</span>
                                        <span class="db time"> - Commented {{timeAgo timestamp}}</span>
                                    </div>                               
                                    <span class="db tag">@User</span>
                                </div>
                            </div>
                            <div class="comment">
                                <span class="dib comment-text">{{comment}}</span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>